@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title {
  font-family: 'Montserrat', sans-serif;
}

.links a:hover {
  border-bottom: 2px solid #1d3557;
  color: #3a86ff !important;
  transition: 0.3s ease-out;
}


.mobile-links a:hover {
  color: #3a86ff !important;
  transition: 0.3s ease-out;
}

.burger:hover {
  color: #3a86ff !important;
  text-shadow: #1d3557;
  transition: 0.2s ease-out;
}

.fav {
  font-family: 'Poppins', sans-serif;
  /* letter-spacing: 3px; */
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.fav:hover {
  border-bottom: none !important; 
}

.fav i {
  color: blue !important;
  margin-left: 5px;
}

