.star-rating {
    font-size: 1.5em;
    color: #ccc;
    cursor: pointer;
    display: flex;
}


.star-rating .fa-star {
    transition: color 0.2s ease;
}


.star-rating .fa-star.checked {
    color: #f39c12;
    /* Color for filled stars */
}


.star-rating .fa-star:hover {
    color: #f39c12;
    /* Color for stars on hover */
}


/* Optional for display stars */
.star-rating-display {
    display: flex;
}


.star-rating-display .fa-star {
    color: #ccc;
    /* Default color for empty stars */
    margin-right: 0.1em;
}


.star-rating-display .fa-star.checked {
    color: #f39c12;
    /* Color for filled stars */
}