@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
.body {
  /* background: #edede9; */
}

main {
    flex: 1;
}

.uniform-card {
    width: 300px;
}


.uniform-card:hover .show-on-hover {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 25px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: rgb(235, 235, 235);
  }


.no-fav {
    background-color: #f0f8ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@keyframes colorChange {
  0% {
      color: #00b4d8;
  }
  25% {
      color: #0096c7;
  }
  50% {
      color: #0077b6;
  }
  75% {
      color: #023e8a;
  }
  100% {
      color: #03045e;
  }
}

.wrapper {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-container{
    width: 100%;
}

.page-title h1 {
    margin-bottom: 30px;
    line-height: 1.1em;
    letter-spacing: -0.045em;
    font-family: 'Noto Sans', sans-serif;
    font-variation-settings: 'wght' 900;
    animation: colorChange 2s infinite alternate;
}

.footer-title {
  margin-bottom: 30px;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  font-family: 'Noto Sans', sans-serif;
  font-variation-settings: 'wght' 900 !important;
  animation: colorChange 2s infinite alternate;

}

.login-title {
  margin-bottom: 30px;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  font-family: 'Noto Sans', sans-serif;
  font-variation-settings: 'wght' 900 !important;
  animation: colorChange 2s infinite alternate;

}

.live-map-text {
  margin-bottom: 30px;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  font-family: 'Noto Sans', sans-serif;
  font-variation-settings: 'wght' 900 !important;
  animation: colorChange 2s infinite alternate;

}

@keyframes colorChanger {
  0% {
      color: #ff6f61; 
  }
  25% {
      color: #ff9f1c; 
  }
  50% {
      color: #2ec4b6; 
  }
  75% {
      color: #3a86ff; 
  }
  100% {
      color: #8338ec; 
  }
}


.live-map-text-btn {
  margin-bottom: 30px;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  font-family: 'Noto Sans', sans-serif;
  font-variation-settings: 'wght' 900 !important;
  animation: colorChanger 2s infinite;

}


.page-title div {
    color: #7d7c83;
    /* line-height: 1.7em; */
    font-size: 20px;
    display: block;
}

.show-map-container {
  /* position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


.show-map-button {
  background-color: #222; 
  color: #fff;
  padding: 11px 15px;
  font-size: 15px;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.05s;;
}

.show-map-button:hover {
  transform: scale(1.05) !important;
}

.show-map-button fa-map{
  color: #fff;
}

.explorer{
  transition: transform 0.3s ease;
}
.explorer:hover {

  transform: scale(1.02);
}
