<%- layout('layouts/boiler') %>

<div class="flex flex-col items-center justify-center mx-auto max-w-2xl p-6 text-center space-y-8">
    <h2 class="footer-title text-3xl font-bold mb-6">Contact Us</h2>
    
    <p class="leading-relaxed text-gray-700">
        We would love to hear from you! Whether you have questions, feedback, or just want to connect, feel free to reach out to us through any of the channels below.
    </p>

    <!-- <div class="flex flex-row  space-x-6">
        <div class="flex items-center">
            <i class="fab fa-facebook-square text-blue-600 text-2xl mr-2"></i>
            <a href="https://www.facebook.com/sannabs.jammeh/" class="text-gray-700 hover:text-blue-600 font-medium">Facebook</a>
        </div>
        <div class="flex items-center">
            <i class="fab fa-github text-black text-2xl mr-2"></i>
            <a href="https://github.com/Sannabs" class="text-gray-700 hover:text-gray-500 font-medium">GitHub</a>
        </div>
        <div class="flex items-center">
            <i class="fab fa-linkedin text-blue-700 text-2xl mr-2"></i>
            <a href="https://www.linkedin.com/in/sanna-bs-jammeh-481961270/" class="text-gray-700 hover:text-blue-700 font-medium">LinkedIn</a>
        </div>
        <div class="flex items-center">
            <i class="fab fa-solid fa-whatsapp text-green-500 text-2xl mr-2"></i>
            <a href="" class="wats text-gray-700 font-medium">WhatsApp</a>
        </div>
        <div class="flex items-center">
            <i class="fab fa-x-twitter text-black text-2xl mr-2"></i>
            <a href="https://x.com/BsJammeh" class="text-gray-700 hover:text-gray-500 font-medium">X (formerly Twitter)</a>
        </div>
        <div class="flex items-center">
            <i class="fas fa-envelope text-red-500 text-2xl mr-2"></i>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRnZnLPhRHnkgBbTCmNjsVwXptpdCdqLnRgvJBTvXqxqpgbSpnkRhdZlHdBHtBPwmTRqPjV" class="mail text-gray-700 hover:text-red-500 font-medium">Email Us</a>
        </div>
    </div> -->
    <div class="flex flex-row  space-x-6 ">
        <div class="flex items-center">
            <a href="https://www.facebook.com/sannabs.jammeh/" class="text-gray-700 hover:text-blue-600 font-medium">            <i class="fab fa-facebook-square text-blue-600 text-2xl mr-2"></i>
            </a>
        </div>
        <div class="flex items-center">
            <a href="https://github.com/Sannabs" class="text-gray-700 hover:text-gray-500 font-medium">            <i class="fab fa-github text-black text-2xl mr-2"></i>
            </a>
        </div>
        <div class="flex items-center">
            <a href="https://www.linkedin.com/in/sanna-bs-jammeh-481961270/" class="text-gray-700 hover:text-blue-700 font-medium">            <i class="fab fa-linkedin text-blue-700 text-2xl mr-2"></i>
            </a>
        </div>
        <div class="flex items-center">
            <a href="" class="wats text-gray-700 font-medium">            <i class="fab fa-solid fa-whatsapp text-green-500 text-2xl mr-2"></i>
            </a>
        </div>
        <div class="flex items-center">
            <a href="https://x.com/BsJammeh" class="text-gray-700 hover:text-gray-500 font-medium">            <i class="fab fa-x-twitter text-black text-2xl mr-2"></i>
            </a>
        </div>
        <div class="flex items-center">
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRnZnLPhRHnkgBbTCmNjsVwXptpdCdqLnRgvJBTvXqxqpgbSpnkRhdZlHdBHtBPwmTRqPjV" class="mail text-gray-700 hover:text-red-500 font-medium">            <i class="fas fa-envelope text-red-500 text-2xl mr-2"></i>
            </a>
        </div>
    </div>

        
    <p class="leading-relaxed text-gray-700 mt-6">
        We aim to respond to all inquiries as quickly as possible. Thank you for reaching out!
    </p>
</div>
